<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>driveWireServlet</servlet-name>
    <servlet-class>com.mynumnum.drivewire.server.DriveWireServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>driveWireServlet</servlet-name>
    <url-pattern>/drivewiregwt/driveWire</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>DriveWireTest.html</welcome-file>
  </welcome-file-list>
  
  <!-- We must start the drivewire server when this web app's context is started -->
  <listener>
  	<listener-class>com.mynumnum.drivewire.server.MyServletContextListener</listener-class>
  </listener>

</web-app>
