table.sample {
	border-collapse: collapse;
}
table.sample td {
	border: 1px solid black;
	padding: 0.1em .5ex 0.1em .5ex;
	color: black;
	font-size: 10pt;
}
table.sample tr.d0 td {
	background-color: #FCF6CF;
}
table.sample tr.d1 td {
	background-color: #FEFEF2;
}
/* Yellow style */
table.sample tr.s1 td {
	background-color: #FFFF00;
}
/* green */
table.sample tr.s0 td {
	background-color: #66FF66;
}
table.sample tr.selected td {
	background-color: #00009C;
	color: #FFFFFF;
}
table.sample tr.green td {
	background-color: #66FF66;
	}
table.sample tr.red td {
	background-color: #FF0000
	}
table.sample tr.h1 td {
	background-color: #CCCCCC;
	font-weight: bold;
}
