<?xml version="1.0" encoding="UTF-8"?><!-- DriveWire 4 configuration.  See below for settings that must be adjusted --><drivewire-config xmlns="http://groupunix.org/DriveWireConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://groupunix.org/DriveWireConfig Config.xsd ">
<DiskLazyWriteInterval>15000</DiskLazyWriteInterval>
<LogLevel>DEBUG</LogLevel>
<LogToFile>false</LogToFile>
<LogFile>E:\drivewire.log</LogFile>
<LogToConsole>true</LogToConsole>
<!-- <LogFormat>%d{dd MMM yyyy HH:mm:ss} %-5p [%-14t] %26.26C: %m%n</LogFormat> -->
<LogFormat>%d{HH:mm:ss}: [%-14t] %m%n</LogFormat>
<!-- User interface settings -->
<UIEnabled>true</UIEnabled>
<UIPort>6800</UIPort>
<!--  config autosave -->
<ConfigAutosave>true</ConfigAutosave>
<!-- This is the default location for disk images.  Only disk files in this directory are selectable when -->
<!-- using the user interface on a computer other than the server -->
<LocalDiskDir>E:/cocodisks</LocalDiskDir>
<!-- if you would like to drive multiple cocos with one server -->
<!-- you may specify as many instance sections as you have serial ports (and CoCos) -->
<instance>
    		<Name>CoCo 3 on COM4</Name>


			<!-- These settings need to be adjusted for your system -->



			<!-- device type, serial (default) or tcp -->
			<DeviceType>serial</DeviceType>


			<!-- device name, like COM1 on windows or /dev/ttyS0 on linux -->		    		
    		<SerialDevice></SerialDevice>
		           
			<!-- CocoModel is 1, 2 or 3 for Coco 1 2 or 3 -->
    		<CocoModel>3</CocoModel>


	
	

			<!-- End of settings that must be adjusted -->

			<AutoStart>true</AutoStart>

			<!-- This is the disk set that is loaded when the server is started.  -->
			<!-- Use dw4boot-6309l2 to boot with DW4 utils, 6309 (or dw4boot-6809 for 6809) --> 
			<!-- Set to nos9-6309l2 for NitrOS9 6309 boot from CVS nightly builds via HTTP, nos9-6809l2 for a 6809 -->
			<!-- or look below in the diskset section for many other options -->
			
			<!--  <DefaultDiskSet>fpga</DefaultDiskSet> -->
			<CurrentDiskSet>side</CurrentDiskSet>

			<TCPDevicePort>6799</TCPDevicePort>
			<TCPClientPort>10001</TCPClientPort>
			<TCPClientHost>some.host.com</TCPClientHost>    		
    		

			
			<!-- Use term port in headless mode -->
			<!-- <TermPort>6801</TermPort> -->
			
			<!-- Set ListenAddress to bind this instance to a particular network interface -->
			<!-- <ListenAddress>192.168.0.80</ListenAddress> -->
			
			<TelnetBannerFile>banner.txt</TelnetBannerFile>
			<!-- <TelnetNoPortsBannerFile>npbanner.txt</TelnetNoPortsBannerFile> -->
			<TelnetBanned>24.178.184.40</TelnetBanned>
			<TelnetBanned>199.248.173.248</TelnetBanned>
			<!-- <TelnetPreAuthFile>preauth.txt</TelnetPreAuthFile> -->
			<!-- <TelnetPasswdFile>passwd.txt</TelnetPasswdFile> -->
			<GeoIPLookup>false</GeoIPLookup>
			<GeoIPDatabaseFile>E:\GeoLiteCity.dat</GeoIPDatabaseFile>
			<!-- <GeoIPBannedCountries>China</GeoIPBannedCountries> -->
			<!-- <GeoIPBannedCities>Birmingham</GeoIPBannedCities> -->
			
			
			
			<!-- Printing options -->
			
			<!-- Where do we put printer output -->
			<PrinterDir>cocoprints</PrinterDir>
			
			<!-- PrinterType can be TEXT or FX80 -->
			<PrinterType>FX80</PrinterType>
			
			<!-- for FX80 mode, this is the font definition -->
			<PrinterCharacterFile>default.chars</PrinterCharacterFile>
			
			<PrinterColumns>80</PrinterColumns>
			<PrinterLines>66</PrinterLines>
			
			
			
			<!-- MIDI options -->
			
			<MIDISynthDefaultSoundbank>soundbank-deluxe.gm</MIDISynthDefaultSoundbank>
			<MIDISynthDefaultProfile>gm</MIDISynthDefaultProfile>
			
			
			<!-- This will map requests to disks based on sector #, not the disk number given in the actual op -->
			<!-- Allows individual .dsks to be accessed from HDB DOS as DRIVE X.  Do not use with OS9! -->
			<HDBDOSMode>false</HDBDOSMode>
			
			<!-- Debugging options, only set these if you know why you are setting them -->
			
			<!-- <DW3Only>true</DW3Only> --> 
			<!-- <LogDeviceBytes>true</LogDeviceBytes> -->
			<!-- <LogVPortBytes>true</LogVPortBytes> -->
			<LogMIDIBytes>true</LogMIDIBytes>
			<LogOpCode>false</LogOpCode>
			<!-- <LogOpCodePolls>true</LogOpCodePolls> -->
			<!-- <RateOverride>460800</RateOverride> -->
			<!-- <OpTimeSendsDOW>true</OpTimeSendsDOW> -->
			<RFMRoot>ftp://www.rtsi.com/OS9/OS9_6X09</RFMRoot>
			<!-- <ProtectedMode>true</ProtectedMode> -->
			<FailedPortRetryTime>2000</FailedPortRetryTime>
			
			
		<LogVPortBytes>false</LogVPortBytes>
<DW3Only>false</DW3Only>
<LogDeviceBytes>false</LogDeviceBytes>
<LogOpCodePolls>false</LogOpCodePolls>
<OpTimeSendsDOW>false</OpTimeSendsDOW>
</instance>
<!-- Disk set definitions are shared between all instances, but each instance gets it's own in ram copy of any given disk when you load it -->
<!-- Local disk sets -->
<diskset>
   			<Name>current</Name>
   			<Description>Current set</Description> 
			<SaveChanges>true</SaveChanges>









</diskset>
<diskset>
   			<Name>dw4boot-6309l2</Name>
   			<Description>Bootable NitrOS-9 L2 boot disk for 6309 with DriveWire 4 utils</Description> 

			<disk>
   				<drive>0</drive>
   				<relativepath>true</relativepath>
   				<path>disks/dw4_server_l2_6309.dsk</path>
   				<writeprotect>false</writeprotect>
   				<bootable>true</bootable>
   			</disk>
   			
   			<disk>
   				<drive>1</drive>
   				<relativepath>true</relativepath>
   				<path>disks/dw4_extras.dsk</path>
   				<writeprotect>false</writeprotect>
   				<bootable>false</bootable>
   			</disk>
   			
   			
   		</diskset>
<diskset>
   			<Name>fpga</Name>
   			<Description>Bootable NitrOS-9 L2 boot disk for Gary Becker's CoCo3FPGA</Description> 
			

			<disk>
   				<drive>0</drive>
   				<path>E:/cocodisks/off.dsk</path>
   				<writeprotect>false</writeprotect>
   				<relativepath>false</relativepath>
   				<bootable>true</bootable>
   				<sync>true</sync>
   				<expand>false</expand>
   				<offset>0</offset>
   				<sizelimit>630</sizelimit>
   				
   			</disk>

   			<disk>
   				<drive>1</drive>
   				<path>E:/cocodisks/off.dsk</path>
   				<writeprotect>false</writeprotect>
   				<bootable>true</bootable>
   				<sync>true</sync>
   				<expand>false</expand>
   				<offset>630</offset>
   				<sizelimit>630</sizelimit>
   				
   			</disk>			

   			
   		</diskset>
<diskset>
   			<Name>Maltedmedia</Name>
   			<Description>Individual Disk Images</Description> 

			<disk>
   				<drive>100</drive>
   				<path>E:/cocodisks/off.dsk</path>
   				<writeprotect>false</writeprotect>
   				<bootable>false</bootable>
   			</disk>
			
			<disk>
			<drive>101</drive>
   				<path>E:/cocodisks/off.dsk</path>
   				<writeprotect>false</writeprotect>
   				<bootable>false</bootable>
   			</disk>
 
			<disk>
			<drive>102</drive>
   				<path>E:/cocodisks/off.dsk</path>
   				<writeprotect>false</writeprotect>
   				<bootable>false</bootable>
   			</disk>
			
			<disk>
			<drive>103</drive>
   				<path>E:/cocodisks/off.dsk</path>
   				<writeprotect>false</writeprotect>
   				<bootable>false</bootable>
   			</disk>
			
			<disk>
			<drive>104</drive>
   				<path>E:/cocodisks/off.dsk</path>
   				<writeprotect>false</writeprotect>
   				<bootable>false</bootable>
   			</disk>
			
			<disk>
			<drive>105</drive>
   				<path>E:/cocodisks/off.dsk</path>
   				<writeprotect>false</writeprotect>
   				<bootable>false</bootable>
   			</disk>
			
			<disk>
			<drive>106</drive>
   				<path>E:/cocodisks/off.dsk</path>
   				<writeprotect>false</writeprotect>
   				<bootable>false</bootable>
   			</disk>
			
			<disk>
			<drive>107</drive>
   				<path>E:/cocodisks/off.dsk</path>
   				<writeprotect>false</writeprotect>
   				<bootable>false</bootable>
   			</disk>
			
			<disk>
			<drive>108</drive>
   				<path>E:/cocodisks/off.dsk</path>
   				<writeprotect>false</writeprotect>
   				<bootable>false</bootable>
   			</disk>
			
			<disk>
			<drive>109</drive>
   				<path>E:/cocodisks/off.dsk</path>
   				<writeprotect>false</writeprotect>
   				<bootable>false</bootable>
   			</disk>
			
			<disk>
			<drive>110</drive>
   				<path>E:/cocodisks/off.dsk</path>
   				<writeprotect>false</writeprotect>
   				<bootable>false</bootable>
   			</disk>
			
			<disk>
			<drive>111</drive>
   				<path>E:/cocodisks/off.dsk</path>
   				<writeprotect>false</writeprotect>
   				<bootable>false</bootable>
   			</disk>
			
			<disk>
			<drive>112</drive>
   				<path>E:/cocodisks/off.dsk</path>
   				<writeprotect>false</writeprotect>
   				<bootable>false</bootable>
   			</disk>
			
			<disk>
			<drive>113</drive>
   				<path>E:/cocodisks/off.dsk</path>
   				<writeprotect>false</writeprotect>
   				<bootable>false</bootable>
   			</disk>
			
			<disk>
			<drive>114</drive>
   				<path>E:/cocodisks/off.dsk</path>
   				<writeprotect>false</writeprotect>
   				<bootable>false</bootable>
   			</disk>
			
			<disk>
			<drive>115</drive>
   				<path>E:/cocodisks/off.dsk</path>
   				<writeprotect>false</writeprotect>
   				<bootable>false</bootable>
   			</disk>
			
			<disk>
			<drive>116</drive>
   				<path>E:/cocodisks/off.dsk</path>
   				<writeprotect>false</writeprotect>
   				<bootable>false</bootable>
   			</disk>
			
			<disk>
			<drive>117</drive>
   				<path>E:/cocodisks/off.dsk</path>
   				<writeprotect>false</writeprotect>
   				<bootable>false</bootable>
   			</disk>
			
			<disk>
			<drive>118</drive>
   				<path>E:/cocodisks/off.dsk</path>
   				<writeprotect>false</writeprotect>
   				<bootable>false</bootable>
   			</disk>
			
			<disk>
			<drive>119</drive>
   				<path>E:/cocodisks/off.dsk</path>
   				<writeprotect>false</writeprotect>
   				<bootable>false</bootable>
   			</disk>
			
			<disk>
			<drive>120</drive>
   				<path>E:/cocodisks/off.dsk</path>
   				<writeprotect>false</writeprotect>
   				<bootable>false</bootable>
   			</disk>
			
			<disk>
			<drive>121</drive>
   				<path>E:/cocodisks/off.dsk</path>
   				<writeprotect>false</writeprotect>
   				<bootable>false</bootable>
   			</disk>
			
			<disk>
			<drive>122</drive>
   				<path>E:/cocodisks/off.dsk</path>
   				<writeprotect>false</writeprotect>
   				<bootable>false</bootable>
   			</disk>
			
			<disk>
			<drive>123</drive>
   				<path>E:/cocodisks/off.dsk</path>
   				<writeprotect>false</writeprotect>
   				<bootable>false</bootable>
   			</disk>
			
			<disk>
			<drive>124</drive>
   				<path>E:/cocodisks/off.dsk</path>
   				<writeprotect>false</writeprotect>
   				<bootable>false</bootable>
   			</disk>
			
			<disk>
			<drive>125</drive>
   				<path>E:/cocodisks/off.dsk</path>
   				<writeprotect>false</writeprotect>
   				<bootable>false</bootable>
   			</disk>
			
			<disk>
			<drive>126</drive>
   				<path>E:/cocodisks/off.dsk</path>
   				<writeprotect>false</writeprotect>
   				<bootable>false</bootable>
   			</disk>
			
			<disk>
			<drive>127</drive>
   				<path>E:/cocodisks/off.dsk</path>
   				<writeprotect>false</writeprotect>
   				<bootable>false</bootable>
   			</disk>
			
			<disk>
			<drive>128</drive>
   				<path>E:/cocodisks/off.dsk</path>
   				<writeprotect>false</writeprotect>
   				<bootable>false</bootable>
   			</disk>			
   		</diskset>
<diskset>
   			<Name>side</Name>
   			<Description>Bootable NitrOS-9 L2 boot disk for 6309 with SuperIDE</Description> 

			<disk>
   				<drive>0</drive>
   				<path>E:/cocodisks/sideboot.dsk</path>
   				<writeprotect>false</writeprotect>
   				<bootable>true</bootable>
   			</disk>
   			
   			<disk>
   				<drive>1</drive>
   				<relativepath>true</relativepath>
   				<path>disks/dw4_extras.dsk</path>
   				<writeprotect>false</writeprotect>
   				<bootable>false</bootable>
   			</disk>
   			
   			<disk>
   				<drive>2</drive>
   				<path>E:/cocodisks/Music_Stuff.dsk</path>
   				<writeprotect>false</writeprotect>
   				<bootable>false</bootable>
   			</disk>
   			
   			   			
   			<disk>
   				<drive>3</drive>
   				<path>E:/cocodisks/Music_Stuff2.dsk</path>
   				<writeprotect>false</writeprotect>
   				<bootable>false</bootable>
   			</disk>
   			
   			
		</diskset>
</drivewire-config>
